html,body {
    background-color: dodgerblue;
}

header  {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 24px;
    font-family: Georgia;    
}

main {
    background-color: white;
}
